<h1>Hello, Rails!</h1>

<%= link_to 'My blog', controller: 'articles' %>
<br>
<%= link_to 'New blog post', new_article_path %>
<br>
<%= link_to 'New User', signup_path %>
<br>
<%= link_to 'All Users', controller: 'users' %>
