<h1>Hello, Rails!</h1>

<% if logged_in? %>
  <%= link_to 'My blog', controller: 'articles' %>
  <br>
  <%= link_to 'New blog post', new_article_path %>
  <br>
  <%= link_to 'All Users', controller: 'users' %>
<% else %>
  <p>You should create an account.</p>
  <%= link_to 'New User', signup_path %>
<% end %>