body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-content {
  padding: 10px;
}

.page-header {
  grid-column: 1 / 3;
}

.nav-bar {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  background-color: #9B9ECE;
  width: 100vw;
  margin: 0;
  text-decoration: none;
}

.logged-in-menu {
  display: none;
}

.flash-success {
  width: 100vw;
  text-align: center;
  background-color: #DDEDAA;
  font-size: 1em;
  padding: 20px 0;
}

/* Show User */
.user-display {
  padding-left: 10px;
}

.add-blog-post {
  padding: 2px;
  font-size: .8rem;
  border: 1px solid black;
  border-radius: 5px;
}

/* Article Listing */
.blog-post {
  padding: 10px;
}

.article-title {
  width: 80vw;
  font-size: 2rem;
  letter-spacing: 2px;
}

.article-body {
  width: 80vw;
}